[submodule "lib/argparse"]
	path = lib/argparse
	url = https://github.com/p-ranav/argparse
[submodule "lib/ftxui"]
	path = lib/ftxui
	url = https://github.com/ArthurSonzogni/FTXUI
[submodule "lib/ColorCout"]
	path = lib/ColorCout
	url = https://github.com/YuzukiTsuru/ColorCout
[submodule "lib/cpp-subprocess"]
	path = lib/cpp-subprocess
	url = https://github.com/arun11299/cpp-subprocess
[submodule "lib/inicpp"]
	path = lib/inicpp
	url = https://github.com/SemaiCZE/inicpp
