[submodule "lib/ftxui"]
	path = lib/ftxui
	url = https://github.com/ArthurSonzogni/FTXUI
[submodule "lib/argparse"]
	path = lib/argparse
	url = https://github.com/p-ranav/argparse
[submodule "lib/libfex"]
	path = lib/libfex
	url = https://github.com/YuzukiTsuru/libfex/
